@charset "utf-8";
/*博文页样式汇总*/

/*博文页公用样式*/




/* 顶部托盘 dongyan */
.nsinatopbar{ min-width:950px; height:30px; overflow:hidden; font-size:12px; font-family:"宋体"; background:url(../../../images/common/topbar/topbar.png?20121031) repeat-x 0px 0px;}
.nsinatopbar a,
.nsinatopbar a:link,
.nsinatopbar a:visited{color:#2e3092; text-decoration:none;}
.nsinatopbar a:hover{ color:#2e3092; text-decoration:underline;}

/* 


*/
/* 公共样式 */
/* general */
body,fieldset,th,td,select,input,textarea{font-size:12px;font-family:Verdana, "宋体", sans-serif}
select,input{vertical-align:middle}

/*浮层公用样式，添加浮层需先添加此样式*/ 


/* 公用-clearfix */

.clearfix:after { content:"."; clear:both; display:block; height:0; visibility:hidden; overflow:hidden; }
.clearfix { display: inline-table; }
.CP_w_shut{ background-image:url(../../../images/common/layer/layerbg1.png);_background-image:url(../../../images/common/layer/layerbg1.gif);}



